.landing-page {
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/Pms-back-img.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    padding: 100px;
}

.landing-page button {
    color: rgb(3, 39, 39);
    background-color: rgb(241, 239, 239);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

.landing-page button:hover {
    color: white;
    background-color: rgba(2, 13, 34, 0.492);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}